<div class="col-lg-2"></div>

<div class="col-lg-6">
	<h1>Editing book</h1>

	<%= form_for(@book) do |book| %>

		<% if @book.errors.any? %>
			<h2><%= @book.errors.count %>件のerrorが発生しました。</h2>
			<ul>
			<% @book.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
			</ul>
		<% end %>

		<label for="inputTitle"> Title</label><br>
		<%= book.text_field :title, autofocus: true, class: "form-control", id:"inputTitle"%><br>

		<label for="inputOpinion"> Opinion</label><br>
		<%= book.text_area :body, autofocus: true, class: "form-control", id:"inputOpinion"%><br>

		<%= book.submit "Update Book", class: "btn btn-primary btn-block"%><br>
	<% end %>
	<%= link_to "Show", book_path(@book) %>
	<span>|</span>
	<%= link_to "Back", books_path %>
</div>

<div class="col-lg-2"></div>