<h2>Editing book</h2>

<%= form_for(@book) do |book| %>

	<% if @book.errors.any? %>
		<h2><%= @book.errors.count %>件のエラーが発生しました。</h2>
		<ul>
		<% @book.errors.full_messages.each do |message| %>
			<li><%= message %></li>
		<% end %>
		</ul>
	<% end %>

	<label for="inputTitle"> Title</label><br>
	<%= book.text_field :title, autofocus: true, id:"inputTitle"%><br>

	<label for="inputOpinion"> Opinion</label><br>
	<%= book.text_field :body, autofocus: true, id:"inputOpinion"%><br>

	<%= book.submit "Update Book" %>
<% end %>