<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="col-lg-1"></div>
          <div class="col-lg-10">
            <div class="navbar-header">
              <h4 class="header-title">Bookers</h4>
            </div>
            <ul class="nav navbar-nav navbar-right">
              <% if user_signed_in? %>
                <li>
                  <%= link_to user_path(current_user.id) do %>
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home
                  <% end %>
                </li>
                <li>
                  <%= link_to users_path do %>
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Users
                  <% end %>
                </li>
                <li>
                  <%= link_to books_path do %>
                    <span class="glyphicon glyphicon-book" aria-hidden="true"></span> Books
                  <% end %>
                </li>
                <li>
                  <%= link_to destroy_user_session_path, method: :delete do %>
                    <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> logout
                  <% end %>
                </li>
              <% else %>
                <li>
                  <%= link_to home_path do %>
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home
                  <% end %>
                </li>
                <li>
                  <%= link_to home_about_path do %>
                    <span class="glyphicon glyphicon-link" aria-hidden="true"></span> About
                  <% end %>
                </li>
                <li>
                  <%= link_to new_user_registration_path do %>
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> sign up
                  <% end %>
                </li>
                <li>
                  <%= link_to new_user_session_path do %>
                    <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> login
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
          <div class="col-lg-1"></div>
        </div>
      </nav>
    </header>
    <div class="container-fluid">
      <div class="content">
        <div class="col-lg-1"></div>
        <%= yield %>
        <div class="col-lg-1"></div>
      </div>
    </div>
  </body>
</html>
